@import 'variables';
@import 'mixins';

html {
 // scroll-behavior: smooth
}
body {
  background-color: $color-grey;
  color: $color-font;
  font-family: $font-regular;
  font-size: $font-size;
  -webkit-font-smoothing: subpixel-antialiased;
  min-width: $min-width;
  @include font-size(15px);
}

p,
span {
  line-height: 1.5rem;
}

.fs-ruler {
  height: 0;
  width: 100%;
  margin: 0 $grid-gutter;
  border-style: solid none none;
  border-top: 1px solid darken($color-grey, 20%);
}

.fs-text-link {
  color: $color-grey-dark;
  &:visited {
    color: $color-grey-dark;
  }

  &:hover {
    color: darken($color-grey-dark, 40%);
  }
}

.h1 {
  font-family: $font-regular;
  @include font-size(18px);
  margin: 0;
}

.fs-background:after {
  content: '';
  display: block;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  @include breakpoint(sm) {
    background-size: cover;
    min-height: 500px;
  }
}

.paragraph {
  &:first-child {
    margin-top: 0;
  }
}


/*

 Vendor overrides
 */
[class^="col-"] {
  padding: $grid-gutter !important;
}
