.slide-in {
  $offset: 15px;
  &-appear {
    transform: translateY($offset);
    opacity: 0;

    &-active {
      opacity: 1;
      transform: translateY(0);;
      transition: opacity .3s, transform .5s;
    }
  }

  &-enter {
    opacity: 0;
    transform: translateY($offset);

    &-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .5s, transform 1s;
    }
  }

  &-leave {
    opacity: 1.0;
    transform: translateY(0);

    &-active {
      opacity: 0;
      position: absolute;
      width: 100%;
      transform: translateY(-$offset);
      transition: all 0.2s linear;
    }
  }
}
