
/*
  Fonts
*/
$font-size: 16px !default;
$font-bold: 'Archivo', sans-serif;
$font-regular: 'Open Sans', sans-serif;

/*
  Colours
*/
$color-white: #fff;
$color-black: #000;
$color-font: $color-black;
