
/*
  Fonts
*/
$font-size: 15px !default;
$font-bold: 'Archivo', sans-serif;
$font-regular: 'Open Sans', sans-serif;

/*
  Colours
*/
$color-white: #fff;
$color-grey: #f8f8f8;
$color-grey-dark: darken($color-grey, 50%);
$color-black: #000;
$color-font: $color-black;


/*
   dimensions
*/
$min-width: 303px;
$max-width: 1400px;
$breakpoint-xs: 767px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

/*
  Spacing
*/

$grid-gutter: 6px;
