.fs-icon-link {
  display: block;
  img {
    width: 100%;
    height: auto;
  }
  visibility: visible;
  opacity: .5;
  transition: opacity 300ms ease-out;
  will-change: opacity;

  &:hover {
    opacity: 1;
  }
}
