@import 'styles/variables';
@import 'styles/mixins';

.fs-header {
  $top-margin: 8px;
  background: rgba(255, 255, 255, .98);
  z-index: 1;
  width: 100%;
  height: 100%;

  @include breakpoint(sm) {
    height: $header-heigth;
    position: fixed;
    top: 0;
  }

  &__content-inner {
    padding: 20px;
    position: relative;
    @include breakpoint(sm) {
      padding: 50px 0 0 0;
    }

    &:before {
      display: none;
      @include breakpoint(sm) {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        height: 40px;
        width: 1px;
        right: $grid-gutter;
        background: $color-grey;
      }
    }

  }

  .fs-nav {
    margin-top: $top-margin + 3;
  }

  &__logo-link {
    max-width: 300px;
    margin: 0 auto;
    @include breakpoint(sm) {
      max-width: 200px;
      margin: 0;
    }

    &--active {
      pointer-events: none;
    }
  }

  .fs-logo {
    display: block;
    margin: 0 auto;

    @include breakpoint(sm) {
      margin: 0;
    }
  }

  .col-grid {
    &:last-child {
      @include breakpoint(sm) {
    //   align-items: flex-end;
      }
    }
  }

  // TODO: remove?
 /* .email-link {
    display: none;
    position: absolute;
    right: $grid-gutter;
    top: $top-margin + 2;
    width: 20px;
    img {
      background: white;
    }

    @include breakpoint(sm) {
      display: inherit;
    }
  }*/
}
