@import 'styles/variables';
@import 'styles/mixins';
.fs-nav {
  position: relative;
  &__list-item {
    text-align: center;
    &:not(:last-child) {
 //     margin-bottom: 40px;
    }

    @include breakpoint(sm) {
      display: inline-block;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }

  }

  &__active-highlight {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    height: 1px;
    width: 100px;
    top: 18px;
    left: 0;
    background: lighten($color-black, 50%);
    transition: all .3s  ease-in-out ;
    @include breakpoint(sm) {
      visibility: visible;
    }
  }

  &__list {
    width: 100%;
    padding: 30px 0;
    margin: 0;
    @include font-size(24px);

    @include breakpoint(sm) {
      padding: 0;
      @include font-size(16px);
    }
   /* li > ul {
      @include font-size(16px);
      .fs-nav__link:after {
        $height: 15px;
        height: $height;
        margin-top: -$height - 2px;
      }
      li > ul {
        @include font-size(15px);

        .fs-nav__link:after {
          $height: 13px;
          height: $height;
          margin-top: -$height - 3px;
        }
      }
    }*/
    list-style: none;
    list-style-position: outside;
  }

  &__link {
    font-family: $font-bold;
    display: block;
    text-decoration: none;
    color: $color-black;
    transition: all ease-out 200ms;
    user-select: none;

   /* &:after {
      $height: 20px;
      content: '';
      position: absolute;
      display: block;
      height: $height;
      width: 0;
      left: 0;
      margin-top: -$height - 2px;
      transition: all ease-out 200ms;
      background: black;
    }*/

    &--active {

      pointer-events: none;
      &:after {
        width: 5px
      }
    }


    &--active,
    &:hover {
      color: lighten($color-black, 40%);
    }
  }
}


